<header>
    <div class="container">
        <a class="logo" href="/">
            <div>
                <h1>Loja</h1>
            </div>
        </a>


        <form class="search" method="get" action="/search">
            <input type="search" name="search" placeholder="Buscar por produtos" {% if search.term %}
                value="{{search.term}}" {% endif %}>
        </form>

        <nav class="primary">
            <ul>
                <li >
                    <a href="/ads/create">
                        <span class="material-symbols-outlined">
                            add 
                        </span>
                        Novo anuncio
                    </a>
                    
                </li>
                <li class="accounts">
                    <a href="/login"><span class="material-symbols-outlined">
                            account_circle
                        </span> Minha conta</a>

                       {% if user %}
                        <ul class="submenu">
                            <li><a href="">Configurações</a></li>
                            <li><a href="">Meus pedidos</a></li>
                            <li><a href="">Minhas vendas</a></li>
                            <li><a href="">Sair</a></li>
                        </ul>
                       {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>