{% extends "layout.njk" %}
{% import "./parts/section-product.njk" as section %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% endblock %}
</head>

<body>

    {% block content %}

    {% endblock %}
</body>

</html>