{% extends "../index.njk" %}



{% block head %}
<title>Criar usuário</title>
{% endblock %}


{% block content %}

<section class="container form form-register">
    <form class="card" method="post"  {% if update %} action="/users?_method=PUT" {%
        else %} action="/users" {% endif %}>

        <div class="header">
            <h3>Registrar</h3>
        </div>
        <div class="fields">
            {% include './fields.njk' %}

            {% if update %}
            <button class="button update"  type="submit">Atualizar registro</button>
            <button class="button delete" type="submit">Deletar registro</button>
            {% else %}
                <button class="button update"  type="submit">Registrar</button>
            {% endif %}
        </div>
        

    </form>
    {% if update %}
    <script src="/replaceAction.js"></script>

    {% endif %}
    <script src="/Mask.js"></script>
</section>

{% endblock %}